.header .header_b ul li.first a {
    border: none !important;
    color: #fff !important;
    height: 97px !important;
}

.header .header_b ul li.seven a {
    border-bottom: 2px solid #c1926c !important;
    height: 95px !important;
    color: #c1926c !important;
}

.banner {
    margin: 0 auto;
    width: 1519.2px;
    height: 280px;
    position: relative;
    top: 97px;
    margin-bottom: 10px;
}

.expect{
    color: #3e3a39;
    font-size: 14.5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 350px;
}