.header .header_b ul li.first a {
    border: none !important;
    color: #fff !important;
    height: 97px !important;
}

.header .header_b ul li.three a {
    border-bottom: 2px solid #c1926c !important;
    height: 95px !important;
    color: #c1926c !important;
}

.news {
    width: 943px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 100px;
    font-family: "微软雅黑";
}
.news .title{
    color: #485157;
    width: 943px;
    height: 40px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #c6976c;
    padding: 0px 0px 16px;
}
.news .title h1{
    font-size: 19px;
    font-weight: 500;
}
.news .time{
    width: 943px;
    height: 40px;
    margin: 5px 0px 50px  0px;
    line-height: 40px;
    color: #c6976c;
    text-align: center;
}
.news .time h2{
    font-size: 16px;
    font-weight: 500;
}
.news p{
    font-size: 16px;
    color: #3e3a39;
    line-height: 25px;
    margin: 5px 0px 5px 0px ;
}
.news h3{
    font-size: 16px;
    margin: 50px 0px 50px 0px;
    color: #3e3a39;
}