.header .header_b ul li.first a {
    border: none !important;
    color: #fff !important;
    height: 97px !important;
}

.header .header_b ul li.finally a {
    border-bottom: 2px solid #c1926c !important;
    height: 95px !important;
    color: #c1926c !important;
}

.banner {
    margin: 0 auto;
    width: 1519.2px;
    height: 280px;
    position: relative;
    top: 97px;
    margin-bottom: 10px;
}

.honor {
    width: 870px;
    height: 545px;
    position: relative;
    margin: 0 auto;
    font-family: "微软雅黑";
    margin-top: 150px;
}

.honor h1 {
    height: 50px;
    width: 870px;
    color: #ba8b6c;
    font-size: 27px;
    font-weight: 500;
    border-bottom: 1px solid #ba8b6c;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.honor .honor_l {
    width: 390px;
    height: 389px;
    padding: 0px 22px;
    position: absolute;
    top: 120px;
    left: 0px;
    border-right: 1px solid #ba8b6c;
    
}

.honor .honor_l h3,
.honor .honor_r h3 {
    height: 20px;
    color: #ba8b6c;
    font-size: 19px;
    font-weight: 500;
}

.honor .honor_l p,
.honor .honor_r p {
    width: 389px;
    font-size: 12.6px;
    margin: 16px 0px;
    line-height: 20px;
    color: #3e3a39;
}

.honor .honor_r {
    width: 390px;
    height: 389px;
    padding: 0px 22px;
    position: absolute;
    top: 120px;
    left: 435px;
}

.credit {
    width: 870px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    font-family: "微软雅黑";
    margin-bottom: 80px;
    position: relative;
}

.credit h1 {
    height: 50px;
    width: 870px;
    color: #ba8b6c;
    font-size: 27px;
    font-weight: 500;
    border-bottom: 1px solid #ba8b6c;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.credit img.img1 {
    position: absolute;
    top: 120px;
    left: 15px;
}

.credit img.img2 {
    position: absolute;
    top: 130px;
    left: 275px;
}

.credit img.img3 {
    position: absolute;
    top: 110px;
    left: 640px;
}