.header .header_b ul li.first a {
    border: none !important;
    color: #fff !important;
    height: 97px !important;
}

.header .header_b ul li.two a {
    border-bottom: 2px solid #c1926c !important;
    height: 95px !important;
    color: #c1926c !important;
}
.header .spinner1 ul li.first a{
    color: #c1926c !important;
    
}
.banner {
    margin: 0 auto;
    width: 1519.2px;
    height: 430px;
    position: relative;
    top: 97px;
    margin-bottom: 150px;
}

.introduce {
    width: 887px;
    height: 444px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.introduce .group {
    width: 450px;
    height: 444px;
    margin-right: 24px;
    font-family: "微软雅黑";
    float: left;
}

.introduce .group .title {
    height: 22px;
    width: 450px;
    position: relative;
    border: 1px solid #c1926c;
    border-left: none !important;
    font-size: 14px;
}

.introduce .group .title h1 {
    color: #caa574;
    background-color: white;
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    left: 0px;
    top: -28px;
}

.introduce .group p {
    margin: 16px 0px;
    color: #3e3a39;
}
.introduce img{
    float: left;
    margin-top: 13px;
}