.header .header_b ul li.first a {
    border: none !important;
    color: #fff !important;
    height: 97px !important;
}

.header .header_b ul li.three a {
    border-bottom: 2px solid #c1926c !important;
    height: 95px !important;
    color: #c1926c !important;
}

.news {
    width: 951px;
    height: 1540px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: "微软雅黑";
}

.news ul {
    list-style: none;
}

.news ul li {
    width: 950px;
    height: 240px;
    border-bottom: 1px dashed black;
    position: relative;
    padding: 30px 0px;
}

.news ul li img {
    float: left;
    margin-right: 20px;
}

.news ul li .title {
    float: left;
    width: 525px;
    height: 49px;
}

.news ul li .title h1 {
    float: left;
    width: 341px;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    color: #bf906c;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.news ul li .title span {
    float: right;
    width: 73px;
    height: 32px;
    color: #bf906c;
    padding-top: 25px;
    font-size: 12.5px;
}
.news ul li p{
    float: left;
      width: 525px;
      height: 83px;
      color: #3e3a39;
      font-size: 14px;
      padding: 16px 0px 0px 0px;
} 
.news ul li .icon{
    width: 50px;
    height: 12px;
    position: absolute;
    bottom: 30px;
    right: 0px;
}
.news ul li a{
    color: #bf906c;
    font-size: 12px;
    text-decoration: none;
}